/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

li {
    display: inline;
    font-weight: bold;
    font-size: xx-large;
    color: black;
}

.letters {
    display: inline-block;
    background-color: antiquewhite;
    border: #2E2F30 solid 1px;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 14px 0;
}

.container {
    margin-top: 20px;
}
